<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shawonarefin.android.roomdbv05">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomDBV05">
        <activity
            android:name="com.shawonarefin.android.roomdbv05.uicontroller.DisplayStudentIDsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shawonarefin.android.roomdbv05.uicontroller.AddStudentActivity"
            android:label="@string/title_add_new_student"
            android:parentActivityName="com.shawonarefin.android.roomdbv05.uicontroller.DisplayStudentIDsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shawonarefin.android.roomdbv05.uicontroller.DisplayStudentIDsActivity" />
        </activity>


////Implementing the Child Class and Parent Classes

        <activity android:name=".uicontroller.AddStudentPersonalinfoActivity"
            android:parentActivityName=".uicontroller.AddStudentActivity" />
        <activity android:name=".uicontroller.AddStudentContactActivity"
            android:parentActivityName=".uicontroller.AddStudentPersonalinfoActivity"/>
        

        <activity android:name="com.shawonarefin.android.roomdbv05.uicontroller.EditStudentInfoActivity"
            android:label="@string/edit_student_info_title"
            android:parentActivityName="com.shawonarefin.android.roomdbv05.uicontroller.DisplayStudentIDsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shawonarefin.android.roomdbv05.uicontroller.DisplayStudentIDsActivity" />
        </activity>
    </application>

</manifest>