<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmud.cpc_jobportal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CPC_JobPortal">

        <activity android:name=".ui.CompanyRegisterActivity" ></activity>
        <activity android:name=".ui.StudentLoginActivity" />
        <activity android:name=".ui.StudentDashboardActivity" />
        <activity android:name=".ui.InsertStudentActivity" />
        <activity android:name=".ui.InsertJobActivity" />
        <activity android:name=".ui.AvailableJobsActivity" />
        <activity android:name=".ui.JobDashboardActivity" />
        <activity android:name=".ui.StudentRegisterActivity" />
        <activity android:name=".ui.CompanyLoginActivity" />
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>