<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahmud.android.CPC_JobApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CPC_jobApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomDBV05">
        <activity android:name=".uicontroller.ApplyJobFrag"></activity>
        <activity android:name=".uicontroller.Start_Splash" />
        <activity android:name=".uicontroller.Home_fragment" />
        <activity android:name=".uicontroller.StudentHome_Fragment" />
        <activity android:name=".uicontroller.MainActivity" />
        <activity android:name=".uicontroller.JobDashboard" />
        <activity android:name=".uicontroller.AddJobs" />
        <activity android:name=".uicontroller.LoginActivity" />
        <activity android:name=".uicontroller.RegisterActivity" />
        <activity android:name=".uicontroller.SearchActivity" />
        <activity android:name=".uicontroller.DisplayStudentIDsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uicontroller.AddStudentActivity"
            android:label="@string/title_add_new_student"
            android:parentActivityName=".uicontroller.DisplayStudentIDsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahmud.android.CPC_JobApp.uicontroller.DisplayStudentIDsActivity" />
        </activity>
        <activity
            android:name=".uicontroller.AddStudentPersonalinfoActivity"
            android:parentActivityName=".uicontroller.AddStudentActivity" />
        <activity
            android:name=".uicontroller.AddStudentContactActivity"
            android:parentActivityName=".uicontroller.AddStudentPersonalinfoActivity" />
        <activity
            android:name=".uicontroller.EditStudentInfoActivity"
            android:label="@string/edit_student_info_title"
            android:parentActivityName=".uicontroller.DisplayStudentIDsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahmud.android.CPC_JobApp.uicontroller.DisplayStudentIDsActivity" />
        </activity>
    </application>

</manifest>